<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipes.mapper.CookingStepMapper">
    <select id="selectByRecipeId" resultType="com.recipes.entity.CookingStep">
        SELECT * FROM cooking_step WHERE recipe_id = #{recipeId} ORDER BY step_order ASC
    </select>
    
    <delete id="deleteByRecipeId">
        DELETE FROM cooking_step WHERE recipe_id = #{recipeId}
    </delete>
</mapper>
